@{
    // Section for getting data from controllers/environment
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    User user = ViewBag.user;
    bool isUserLoggedIn = (ViewBag.isUserLoggedIn == true);

    int itemCountInCart = (ViewBag.itemCountInCart == null) ? 0 : ViewBag.itemCountInCart;

    string cartBadgeVisibitiy = (itemCountInCart > 0) ? "visible" : "hidden";

    List<Order> orders = ViewBag.Orders;

    // Section for header logics
    string head_msg = "Team 11 Library Shop";
    string btn1_msg = "Login";
    string btn1_controller = "Login";
    string btn1_action = "Index";
    string btn2_msg = "My Purchases";
    string btn2_controller = "MyPurchases";
    string btn2_action = "Index";
    if (controllerName == "Login")
    {
        head_msg = "Welcome to Team 11 Library Shop!";
        btn1_msg = "Continue as guest";
        btn1_controller = "Login";
        btn1_action = "GuestContinue";
        btn2_msg = "";
        btn2_controller = "";
    }
    if (controllerName == "Gallery")
    {
        if (isUserLoggedIn)
        {
            head_msg = $"Hello, {user.UserName} !";
            btn1_msg = "My Purchases";
            btn1_controller = "Mypurchases";
            btn2_msg = "Logout";
            btn2_controller = "Login";
            btn2_action = "Logout";
        }
        else
        {
            head_msg = "Hello, Please Log In!";
            btn1_msg = "Login";
            btn1_controller = "Login";
            btn2_msg = "";
            btn2_controller = "";
        }
    }
    if (controllerName == "Cart")
    {
        head_msg = "Cart";
        btn1_msg = "Continue Shopping";
        btn1_controller = "Gallery";
        btn2_msg = "Checkout";
        btn2_controller = "Cart";
        btn2_action = "Checkout";
    }
    if (controllerName == "MyPurchases")
    {
        head_msg = "My Purchases";
        btn1_msg = "Home";
        btn1_controller = "Gallery";
        btn2_msg = "Logout";
        btn2_controller = "Login";
        btn2_action = "Logout";
    }
    if (controllerName == "Pay")
    {
        head_msg = "Team 11 Secure Payment Platform";
        btn1_msg = "Check Cart";
        btn1_controller = "Cart";
        btn2_msg = "Pay";
        btn2_controller = "Pay";
        btn2_action = "Pay";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Team 11 Library Shop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.NET_CA_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3"
             style="background: linear-gradient(to right, #4cadd0, #dc307c);">
            <div class="container">
				<p class="navbar-brand" style="color:white"><b>@head_msg</b></p>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="
                        .navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 justify-content-end align-items-baseline">
                        <li class="nav-item">
                            <a class="nav-link btn btn-block btn-secondary" 
                            asp-area="" asp-controller="@btn1_controller" asp-action="@btn1_action">
                                @btn1_msg
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-block btn-secondary" 
                            asp-area="" asp-controller="@btn2_controller" asp-action="@btn2_action">
                                @btn2_msg
                            </a>
                        </li>
                        <li>
                            @{
                                if (controllerName == "Gallery")
                                {
                                    <button class="btn btn-block" onclick="navigateToCart()">
                                        <i class="bi bi-cart"
                                           style="font-size: 25px"
                                           ></i>
                                        <span class="badge badge-pill badge-warning"
                                              id="cart-badge"
                                              style="visibility: @(cartBadgeVisibitiy)">
                                            @itemCountInCart
                                        </span>
                                    </button>
                                }
                                if (controllerName == "Cart" || controllerName == "Pay")
                                {
                                    float totalPrice = 0f;
                                    foreach (var order in orders)
                                    {
                                        totalPrice = totalPrice + order.Item.Price * order.Count;
                                    }
                                    <h6 style="padding-left: 20px;">
                                        <u>
                                            Total: @totalPrice.ToString("C")
                                        </u>
                                    </h6>
                                    }
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>


    <div id="main-body" class="container" style="margin-top: 90px">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                    crossorigin="anonymous"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script>
        function navigateToCart() {
            window.location.href = '@Url.Action("Index", "Cart")';
        }
            </script>
            @await RenderSectionAsync("Scripts", required: false)
        </body>
    </html>

